/*
input {
  border-bottom: solid 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 60px;
  outline: none;
  width: 50%;
}

.form-button {
  height: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
}

.about-container .description p {
  margin-left: 30px;
}

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 100px;
  width: 100%;
}

.jobs-container {
  display: flex;
  flex-direction: column;
}

.jobs-container .work {
  margin-left: auto;
  margin-right: auto;
}

.work img {
  max-width: 500px;
  min-height: 300px;
  min-width: 200px;
}

.projects-container {
  display: flex;
  justify-content: space-around;
}

.projects-container div {
  width: 30%;
}

.about-container img {
  height: auto;
  max-width: 500px;
  min-height: 300px;
  min-width: 200px;
  width: 100%;
}

img {
  height: auto;
  min-height: 300px;
  min-width: 300px;
  width: 100%;
}

.header-container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  margin: 0 auto 10px auto;
  max-width: 1000px;
  width: 100%;
}

.header-item {
  color: black;
  font-size: 23px;
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.description p {
  font-size: 19px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.comments-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
*/
.menu-bar {
  height: 45px;
  width: 100%;
  background-color: rgb(51,51,51);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-content {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.menu-item {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.intro {
  align-items: center;
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 595px;
  justify-content: center;
  width: auto;
}

.intro-wrapper {
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline {
  color: rgb(245, 245, 247);
  font-size: 40px;
}


.headline-sub {
  display: flex;
  justify-content: center;
  align-items: center;
}


.headline-sub .kennedy-link {
  color: rgb(41, 151, 255);
  font-size:16px ;
}

.sub-message{
  color: rgb(105, 105, 107);
  font-size:16px ;
}

.headline-link:hover {
  text-decoration: none;
}

.division-bar {
  background-color: rgb(255,255,255);
  height: 45px;
  width: 100%;
}
