.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.comments-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menu-bar {
  align-items: center;
  background-color: rgb(51, 51, 51);
  display: flex;
  height: 45px;
  justify-content: center;
  width: 100%;
}

.menu-content {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
}

.menu-item {
  font-size: 30px;
  margin-bottom: auto;
  margin-top: auto;
}

.github-link {
  margin-left: 10px;
}

.mail-icon {
  margin-right: 10px;
}

.mail-link {
  color: white;
  font-size: 30px
}

.intro {
  align-items: center;
  background-color: black;
  display: flex;
  height: 595px;
  justify-content: center;
}

.intro-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.headline {
  color: rgb(245, 245, 247);
  font-size: 40px;
}

.headline-sub {
  align-items: center;
  display: flex;
  justify-content: center;
}

.headline-sub .kennedy-link {
  color: rgb(41, 151, 255);
  font-size: 16px;
}

.sub-message {
  color: rgb(105, 105, 107);
  font-size: 16px;
}

.headline-link:hover {
  text-decoration: none;
}

.division-bar {
  background-color: white;
  height: 45px;
  width: 100%;
}

#map {
  height: 892px;
  width: auto;
}

#images-container {
  display: flex;
  flex-direction: column;
  height: 595px;
  width: auto;
}

.image-presenter {
  height: 300px;
  margin: 0 auto;
  width: 500px;
}

.image-uploader {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 170px;
  margin: 0 auto;
  width: 500px;
}

.labels-container {
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.image-form-container {
  height: 100px;
  width: 300px;
}

#image-upload-form {
  display: flex;
  flex-direction: column;
}

.file-upload-button {
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  margin-left: 20px;
  margin-top: 5px;
  width: 260px;
}

.images-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 1000px;
}

.file-picker {
  margin-bottom: 10px;
}

.comment-input {
  border: 2px solid rgb(234, 236, 239);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 15px;
  outline: 0;
  padding: 20px;
  width: 100%;
}

.comment-input:focus {
  border: 2px solid rgb(2, 123, 255);
}

.comment-area {
  height: 150px;
}

.form-button {
  background: rgb(2, 123, 255);
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0;
  width: 100%;
}
