#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

/* Add a black background color to the top navigation */
.menuBarClass {
  background-color: #FFFFFF;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.menuBarClass a {
  /*float: left;*/
  color: 	#000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center
  /*margin-left: auto;
  margin-right: auto;*/
}

/* Change the color of links on hover */
.menuBarClass a:hover {
   text-decoration: underline;
}

/* Hide the link that should open and close the topnav on small screens */
.menuBarClass .icon {
  display: none;
}
