@media screen and (min-width: 600px)
{
  .header-container
  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width:100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: grey;
  }

  .header-item
  {
    text-decoration: none;
    color: black;
    font-size: 23px;
  }

  .content-container
  {
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .about-container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .description p
  {
      font-size: 19px;
  }

  .about-container .description p
  {
    margin-left: 30px;
  }

  .work-container
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .jobs-container
  {
    display: flex;
    flex-direction: column;
  }

  .jobs-container .work
  {
    margin-left: auto;
    margin-right:auto;
  }

  .work img
  {
    min-width: 200px;
    min-height: 300px;
    max-width: 500px;
  }

  .projects-container
  {
    display:flex;
    justify-content: space-around;
  }

  .projects-container div
  {
      width: 30%;
  }

  .about-container img
  {
    width: 100%;
    height: auto;
    min-width: 200px;
    min-height: 300px;
    max-width: 500px;
  }

  .footer-container
  {
    display: flex;
    height: 200px;
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: grey;
  }

  .column1
  {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: left;
    justify-content: space-evenly;
  }

  .column1 a
  {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 100px;
  }

  .column1 a:hover
  {
     text-decoration: underline;
  }

  .column2
  {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 100px;
  }

  input
  {
    height:30px;
    width:50%;
    border-top:none;
    border-bottom: solid 1px;
    border-right: none;
    border-left: none;
    outline: none;
  }

  button
  {
    margin-top: 10px;
    margin-bottom: 10px;
    height:60px;;
    width:50%;
  }
}
