#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

/* Add a black background color to the top navigation */
.menuBarClass {
  background-color: #FFFFFF;
  overflow: hidden;
  margin-right: 2vw;
  margin-left: 2vw;
  padding-bottom: 2vw;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.menuBarClass .menu-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuBarClass .menu-bottom{
    
}


/* Style the links inside the navigation bar */
.menuBarClass .name{
  color: 	#000000;
  text-decoration: none;
  font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  align-items: center;
  justify-content: center;
  text-align: center;
}


.menuBarClass a{
  color: 	#000000;
  text-decoration: none;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  margin: 0 auto;
}

/* Change the color of links on hover */
.menuBarClass a:hover {
   text-decoration: underline;
}

/* Hide the link that should open and close the topnav on small screens */
.menuBarClass .icon {
  display: none;
}

.menuBarClass #content {
  padding-top: 60px;
}
#content {
  padding: 16px;
}